/*Maincolors:
0xFFE57373  #e57373     rot
0xFF37474F  #37474F     blau-grau
0xFF263238  #263238     dunkleres blau-grau
*/



body {
	background-color: #263238 ;
}


/*Sidebar*/

.Sidebar {
	width:220px;
	height: 1000px;
	display: none; 
	background-color: #e57373 ;
	opacity: 0.8;
	
	text-align: center;
	padding-top: 25px;
	font-size: 20px;
}



.Sidebutton2 {
	width: 220px;
	height: 40px;
	background-color: #e57373  ;
	border-color: #e57373 ;
	
	
}

#openNav {
	position: fixed;
	
	
}



/*mainpart*/

.main {
	margin-left:250px;
}

#name {
	color: #e57373 
}
#images {
	
}


/*Upload*/
#upload {
	color:#e57373 ;
	
}

#button{
	width: 300px;
	margin-top:2px;
	padding: 5px;
	border-radius: 5px;
}


/* upload */

.uploadwindow {
	margin-top: 70px;
	background-color : #37474F;
	color: White;
	border: 3px solid #e57373;
}

.uploadfield {
	background-color: #263238 ;
	border: 3px solid #e57373;	
	Color: White;
	
}






/*images and scaling divs*/
.images
{
    display: inline;
    margin: 15px;
}
.displayImages
{
    border: 5px solid #ccc;
}
.displayImages:hover
{
    border: 5px solid #111;
}
#bigImage
{
    float:left;
}

.description {
	padding: 5px;
	display: inline-block; 
	
}

.imagescaling {
	 min-width: 1080px; 
	 max-width: 1080px;
	 min-height: 566px;
	 max-height: 1350px;
}

.modal 
{	
	
	
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(38, 38, 38, 0.7);
}
.modalContent
{
    overflow: hidden;
    width:75%;
    background-color: rgba(88, 88, 88, 0.8);
    display: block;
    margin-left: 10%;
    margin-top: 5%;
}
.modalContent img
{
    float:left;
    margin-right: 2%;
    width: auto;      /*800px; */
   height: auto;	  /* 800px;*/
}
.comments
{
    margin-top: 1%;
    color: white; 
    font-size: 28px;
}
.close 
{
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 55px;
    font-weight: bold;
}
.cursor 
{
    cursor: pointer;
}




/* registration/Login */

/* REGISTRATION/LOGIN */

.LoginFORM{
	/*text-align: center;*/
	padding: 20px;
	margin: 150px;
	display: inline-block;
	background-color: #191919;
	color: white;
	border-radius: 24px;
	outline: none;
	
	
}

.formfield {
	width: 250px;
	height: 45px;
	margin: 8px auto;
	display: block;
	border: 3px solid #e57373;
	text-align: center;
	background-color: #37474F;
	color: White;
	border-radius: 24px;
	}
.formbtn {
	text-align: center;
	width: 140px;
	height: 45px;
	background-color: #263238 ;
	border-color: #e57373;
	color: White;
	cursor: pointer;
	margin-left: 55px;
	border-radius: 14px;
}


#rcorners1 {
  border-radius: 25px;
  background: #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}
#registration, #login {
	Margin: 20px;
	opacity: 0.8;
	padding: 30px;
	border-radius: 35px;
  background: #73AD21;
}
#button{
	width: 300px;
	margin-top:5px;
	padding: 13px;
	border-radius: 7px;
}
